body {
  margin: 0;
}

.header {
  height: 80px;
  position: fixed;
  background-color: yellow;
  top:0;
  left:0;
  width: 100%;
  z-index: 2;
}

.menu > li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.menu > li a {
    font-size: 32px;
    padding: 20px;
    display:inline-block;
}

nav{
  height:100%;
  display:inline-block;
  width:100%;
}

ul{
  padding:0;
  margin:0;
  text-align: center;
}



section.titre {
  width: 100vw;
  height: 100vh;
  background-image: url("https://hd.unsplash.com/reserve/165aTVpzTXGMXu1azUdy_IMG_8468.JPG");
  background-size: cover;
  position:relative;
}
.contenu {
    position: absolute;
    top: 50%;
    height: 130px;
    margin-top: -75px;
    left: 50%;
    background: rgba(255, 255, 255, 0.58);
    margin-left: -200px;
    text-align: center;
    width: 400px;
}

.contents {
    display:inline-block;
    width: 33%;
    text-align: center;

}
.foot {
    position: absolute;
}
.contents img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.foot {
    width: 100%;
}
.foot li {

  text-align: center;
  font-size: 32px;
  padding: 20px;
  display:inline-block;
}

.container {
  width:80%;
  margin:0 auto;
}

@media (max-width:600px) {
  .menu > li a {
      font-size: 12px;
    }
}
