<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />
  <script src="<%= url("/js/main.js")%>" type="text/javascript" > </script>

  <title>  hello world</title>
  <link href="style.css" rel="stylesheet"/>
</head>
<body>

  <header class="header">
    <nav>
      <ul class="menu" >
        <li> <a href="/index2"> menu1</a> </li>
        <li> <a href="link"> menu2</a> </li>
        <li> <a href="link"> menu3</a> </li>
      </ul>
    </nav>
  </header>

  <section class="titre">
    <article class="contenu">
      <h1>articleA</h1>
      <p> 1er paragraphe de l'article A </p>
      <p> 2eme paragraphe </p>
    </article>
  </section>


  <section >

    <div class="container">

      <article class="contents">
        <img src="https://hd.unsplash.com/photo-1455287278107-115faab3eafa" alt="canapedog">
        <h2>article1</h2>
        <p> 1er paragraphe </p>
        <p> 2eme paragraphe </p>
      </article>

      <article class="contents">
        <img src="https://hd.unsplash.com/uploads/14127932383091f42ce39/9cb5870b" alt="cat">
        <h2>article2</h2>
        <p> 1er paragraphe </p>
        <p> 2eme paragraphe </p>
      </article>

      <article class="contents">
        <img src="https://hd.unsplash.com/uploads/14110413011098a987a96/025f1dd8" alt="cow">
        <h2>article3</h2>
        <p> 1er paragraphe </p>
        <p> 2eme paragraphe </p>
      </article>

    </div>
  </section>


  <footer class="foot">
      <nav>
        <ul>
          <li> copyright</li>
          <li> contact</li>
          <li> find us</li>
        </ul>
      </nav>
  </footer>



</body>
</html>
